:root {
  --dark-slate-grey: #31382d;
  --grey: #7c8674;
  --black-2: #292d25;
  --white: white;
  --black: black;
  --relume-library-lite-rl-black: black;
  --relume-library-lite-rl-white: white;
}

body {
  color: #ebebeb;
  background-color: #292d25;
  flex-direction: column;
  justify-content: space-between;
  font-family: Libre Franklin, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h1 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Gunplay rg, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}

h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Gunplay rg, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}

h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Gunplay rg, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h4 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Gunplay rg, sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.2rem;
}

h5 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Gunplay rg, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
}

h6 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Gunplay rg, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4rem;
}

p {
  overflow-wrap: anywhere;
  margin-bottom: 0;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover, a:visited {
  color: #ffffffb3;
}

label {
  color: #000;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4rem;
  display: block;
}

blockquote {
  font-variation-settings: normal;
  border-left: .3rem solid #ffffff4d;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: PT Sans, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.content-frame {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: minmax(12rem, .25fr) 1fr minmax(12rem, .25fr);
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

.col-quincy-granite {
  background-color: #b5b3ae;
}

.icon-m {
  cursor: pointer;
  font-family: "Fa 400", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  display: inline-block;
}

.icon-m.brands {
  font-family: "Fa brands 400", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-m.solid {
  font-family: "Fa solid 900", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.heading3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.text-l {
  font-size: 120%;
  line-height: 130%;
}

.col-pipe-clay {
  background-color: #cac8bc;
}

.heading6 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.icon-xs {
  cursor: pointer;
  font-family: "Fa 400", sans-serif;
  font-size: .8rem;
  line-height: .8rem;
  display: inline-block;
}

.icon-xs.brands {
  font-family: "Fa brands 400", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-xs.solid {
  font-family: "Fa solid 900", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.text-white {
  color: #fff;
}

.spacer-m {
  flex: none;
  width: 2rem;
  height: 2rem;
  display: block;
}

.col-ambassador-blue {
  background-color: #10325c;
}

.col-faded-grey {
  background-color: #e9e8e3;
}

.col-dragons-breath {
  background-color: #d41200;
}

.col-wintermint {
  background-color: #96cfbd;
}

.button {
  text-align: center;
  text-transform: uppercase;
  background-color: #fafafa;
  border-radius: .3rem;
  min-width: 10rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem 1.5rem;
  font-family: Gunplay rg, sans-serif;
  font-size: .9rem;
  line-height: 1.4rem;
  transition: transform .4s, background-color .2s;
}

.button:hover {
  color: #000000b3;
  background-color: #e7e7e7;
  transform: translate(-4px);
}

.button.darkmode {
  color: #fff;
  background-color: #5e5e5e;
}

.button.darkmode:hover {
  color: #ffffffb3;
  background-color: gray;
}

.button.darkmode.border {
  border: .125rem solid #e6e6e6;
}

.button.border {
  color: #000;
  border: .125rem solid #e6e6e6;
}

.button.border.darkmode {
  color: #fff;
}

.button.border.darkmode:hover {
  color: #ffffffb3;
}

.button.border.navbutton {
  color: #fff;
  background-color: #0000;
  min-width: 0;
  transition: transform .2s, background-color .2s;
}

.button.border.navbutton:hover {
  transform: scale(1.05);
}

.button.arrow-anim {
  color: #000;
  justify-content: space-between;
  max-width: 10rem;
  transition: padding .2s, background-color .2s;
  display: flex;
}

.button.arrow-anim:hover {
  padding-right: .9rem;
  transform: none;
}

.button.black {
  color: #000;
}

.icon-s {
  cursor: pointer;
  font-family: "Fa 400", sans-serif;
  font-size: 1.1rem;
  line-height: 1.1rem;
  display: inline-block;
}

.icon-s.brands {
  font-family: "Fa brands 400", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-s.brands.footer {
  color: #bdbdbd;
}

.icon-s.brands.footer:hover {
  color: #d8d8d8;
}

.icon-s.solid {
  font-family: "Fa solid 900", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-s.solid.arrowbutton {
  border: .125rem solid #fff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.icon-s.solid.navbutton {
  color: #a8a8a8;
  margin-left: .3rem;
}

.col-baltic-trench {
  background-color: #155861;
}

.col-yellow-canary {
  background-color: #ffebae;
}

.heading2 {
  font-size: 3rem;
  line-height: 3rem;
}

.col-tanzanian-gold {
  background-color: #fcd115;
}

.col-white {
  background-color: #fff;
}

.success-message {
  text-align: left;
  background-color: #fff0;
  padding: 0;
}

.text-spanish-grey {
  color: #989898;
  font-weight: 400;
}

.heading4 {
  font-size: 2.2rem;
  line-height: 2.2rem;
}

.col-patio-stone {
  background-color: #6c665d;
}

.icon-l {
  cursor: pointer;
  font-family: "Fa 400", sans-serif;
  font-size: 2.7rem;
  line-height: 2.7rem;
  display: inline-block;
}

.icon-l.brands {
  font-family: "Fa brands 400", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-l.solid {
  font-family: "Fa solid 900", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-l.kontakt {
  font-family: "Fa solid 900", sans-serif;
  font-size: 4.6rem;
  line-height: 4.6rem;
}

.col-transparent {
  background-color: #0000;
}

.heading5 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.text-black {
  color: #000;
}

.text-black.left {
  text-align: left;
}

.heading1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.some-wrapper {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  place-items: center start;
  transition: all .2s;
  display: grid;
}

.some-wrapper:hover {
  grid-column-gap: .7rem;
}

.error-message {
  color: #000;
  margin-top: 1rem;
  padding: 1rem;
}

.text-s {
  font-size: 70%;
  line-height: 150%;
}

.text-s.text-spanish-grey.underline.dokument {
  text-align: center;
}

.text-s.text-dollar:visited {
  color: #909c87;
}

.text-s.line-break {
  white-space: pre-line;
}

.col-maire {
  background-color: #2c2821;
}

.col-black {
  background-color: #000;
}

.input {
  color: #ebebeb;
  background-color: #504e4e;
  border: .08rem solid #777;
  border-radius: .3rem;
  margin-bottom: 0;
  padding-left: .7rem;
  padding-right: .7rem;
}

.input.message {
  min-height: 7rem;
}

.form-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: grid;
}

.palette {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #646464;
  flex: 1;
  grid-template-rows: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 5rem;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-content: start center;
  align-items: stretch;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  display: grid;
}

.col-beautiful-blue {
  background-color: #1572b9;
}

.col-dead-pixel {
  background-color: #3a3a3a;
}

.col-bleached-silk {
  background-color: #f3f3f3;
}

.text-baltic-trench {
  color: #155760;
}

.heading {
  font-family: Exo, sans-serif;
}

.spacer-s {
  flex: none;
  width: 1rem;
  height: 1rem;
  display: block;
}

.spacer-l {
  flex: none;
  width: 4rem;
  height: 4rem;
  display: block;
}

.image-overlay {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.image-overlay.black-25 {
  background-color: #00000040;
}

.image-overlay.white-5 {
  background-color: #ffffff0d;
}

.image-overlay.slow-scroll {
  display: flex;
  overflow: hidden;
}

.image-overlay.fixed-image--name {
  background-image: url('../images/pexels-rachel-claire-4825701.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.image-overlay.heading {
  background-color: #292d2530;
}

.navbar-links {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  background-color: #0000;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: flex-end;
  place-items: center stretch;
  display: grid;
}

.subscription-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr .25fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.divider {
  background-color: #272727;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
}

.instagram-item {
  padding-top: 100%;
  position: relative;
}

.navbar-logo {
  align-items: center;
  width: 30%;
  transition: margin .2s;
  display: flex;
}

.navbar-logo:hover {
  margin-left: .5rem;
}

.navbar-sandwich {
  filter: invert();
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  display: none;
  position: relative;
}

.footer-header {
  color: #c5c5c5;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.dynamic-item {
  background-color: #3a3737;
  border-radius: .2rem;
  box-shadow: 2px 2px 9px #00000040;
}

.dynamic-item.aktivitet, .dynamic-item.bokningar {
  border: 2px solid var(--grey);
  background-color: var(--dark-slate-grey);
  display: none;
}

.dynamic-item.styrelsen {
  box-shadow: none;
  background-color: #0000;
  border-radius: 0;
}

.dynamic-item.dokument {
  box-shadow: none;
  background-color: #0000;
}

.dynamic-item.bokningar {
  background-color: #31382d;
  border: 2px solid #7c8674;
}

.content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template: "."
  / 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-content: stretch;
  place-items: stretch stretch;
  display: grid;
  position: relative;
}

.content.footer {
  background-image: linear-gradient(#31382df5, #31382df5), url('../images/camouflage-2000px.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 0;
  padding: 5rem 1rem;
}

.content.footer.center {
  grid-template-columns: 1fr;
}

.content.navbar {
  grid-template-columns: .25fr 1fr;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 0;
  overflow: visible;
}

.content.navbar.floating {
  z-index: 1;
  position: absolute;
  inset: 0% 1rem auto;
}

.content.quote {
  grid-template-columns: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content.heading {
  grid-template-rows: auto auto auto;
  grid-template-columns: .25fr 1fr .25fr;
  min-height: 35rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.content.heading.slim {
  grid-template-rows: auto;
  min-height: 0;
}

.content.heading.slim.no-top-margin {
  margin-top: 0;
}

.content.heading.full {
  min-height: 50rem;
}

.content.heading.video {
  grid-template-rows: auto;
  min-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.content.heading.hero {
  min-height: 42rem;
  margin-top: 0;
}

.content.instagram {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.content.product-list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content.full {
  height: auto;
  min-height: 100vh;
}

.content.full.om-oss {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.content.blog-list {
  grid-template-columns: 1fr 1fr;
}

.content.contact {
  grid-template-columns: .25fr 1fr .25fr;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.content.shifted {
  grid-template-columns: .25fr 1fr 1fr 1fr 1fr .25fr;
}

.content.accordition {
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr .25fr;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.content._1-2 {
  grid-template-columns: .5fr 1fr;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.content._2-1 {
  grid-template-columns: 1fr .5fr;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.content.aktiviteter {
  grid-template-columns: 1fr;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.content.bokningar {
  grid-template-columns: 1fr;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.content.styrelsen {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 8rem 2rem;
}

.content.dokument {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.content.kontakt {
  background-image: linear-gradient(#31382dcf, #31382dcf), url('../images/old-wood.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.content.dokument-image, .content.garden-image {
  grid-template-rows: auto auto auto;
  grid-template-columns: .25fr 1fr .25fr;
  min-height: 35rem;
  margin-bottom: 6rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.content.kontaktuppgifter, .content.nyhetsbrev {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.content.textblock {
  grid-template-columns: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content-info {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  position: relative;
}

.content-info.instagram {
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0;
}

.content-info.center {
  text-align: center;
  align-items: center;
}

.content-info.padding {
  padding: 2rem;
}

.content-info.kontakt {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.footer-logo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11.1rem;
  transition: transform .4s;
}

.footer-logo:hover {
  transform: scale(1.03);
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform .4s;
}

.image:hover {
  transform: scale(1.01);
}

.image.product, .image.blog {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.image.contain {
  object-fit: contain;
}

.image.full {
  width: 100%;
  height: 100%;
}

.image.instagram {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.image.slow-scroll {
  height: auto;
  min-height: 100vh;
  transition-property: none;
}

.image.dogtags {
  object-fit: contain;
  transition-property: none;
  position: static;
  inset: 0%;
}

.image.dogtags:hover {
  transform: none;
}

.image.dokument {
  width: 10rem;
  height: auto;
  position: static;
  box-shadow: 9px 9px 9px #00000040;
}

.dynamic-item-wrapper {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 2rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.dynamic-item-wrapper.aktivitet {
  align-items: flex-start;
  padding-bottom: 1rem;
  display: flex;
}

.dynamic-item-wrapper.bokningar {
  background-image: linear-gradient(#31382de0, #31382de0), url('../images/military-camouflage.jpg');
  background-position: 0 0, 50%;
  background-size: auto, 39% 109%;
  background-attachment: scroll, scroll;
  align-items: flex-start;
  padding-bottom: 1rem;
  display: flex;
}

.dynamic-item-wrapper.styrelsen {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding: 0;
  transition: transform .4s;
  display: grid;
}

.dynamic-item-wrapper.styrelsen:hover {
  transform: scale(1.01);
}

.dynamic-item-wrapper.dokument {
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  display: flex;
}

.dynamic-item-wrapper.bokningar {
  background-image: linear-gradient(#31382de0, #31382de0), url('../images/military-camouflage.jpg');
  background-position: 0 0, 50%;
  align-items: flex-start;
  padding-bottom: 1rem;
  display: flex;
}

.image-wrapper {
  position: relative;
}

.image-wrapper.product, .image-wrapper.blog {
  margin-bottom: 1rem;
  padding-top: 78%;
}

.image-wrapper.aktivitet {
  width: 10rem;
  min-width: 10rem;
  height: 100%;
  min-height: 10rem;
  margin-right: 1rem;
}

.underline {
  text-decoration: underline;
}

.rubrik {
  margin-bottom: .3rem;
  font-weight: 900;
}

.rubrik.no-margin {
  margin-bottom: 0;
}

.navlink {
  text-transform: uppercase;
  align-items: center;
  font-family: Gunplay rg, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  transition: transform .2s;
  display: flex;
}

.navlink:hover {
  transform: scale(1.1);
}

.navbar-arrow {
  display: none;
}

.button-arrow {
  font-family: "Fa solid 900", sans-serif;
}

.footerlink {
  color: var(--grey);
  margin-bottom: .7rem;
  font-family: Gunplay rg, sans-serif;
  text-decoration: none;
}

.footerlink:visited {
  color: var(--grey);
}

.footerlink-block {
  color: #989898;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footerlink-block.center {
  align-items: center;
}

.footer-line {
  background-color: #ffffff4a;
  width: 63%;
  height: 2px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.full {
  height: 100vh;
  min-height: 50rem;
}

.hide1 {
  display: none;
}

.accordion-item {
  color: #000;
  text-align: left;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem 0;
}

.accordion-item-trigger {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.accordion-item-content {
  margin-top: 1rem;
  margin-right: 2rem;
  overflow: hidden;
}

.heart-icon {
  color: #0000;
  background-image: url('../images/heart-icon_1heart-icon.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 11px;
}

.body, .col-rangoon-green {
  background-color: var(--black-2);
}

.text-rangoon-green {
  color: var(--black-2);
}

.col-aimiru-brown {
  background-color: var(--dark-slate-grey);
}

.text-aimiru-brown {
  color: var(--dark-slate-grey);
}

.col-dollar {
  background-color: var(--grey);
}

.text-dollar {
  color: var(--grey);
}

.dropdown {
  grid-column-gap: .5rem;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  display: grid;
  position: relative;
}

.dropdown-list {
  text-transform: uppercase;
  white-space: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.9rem;
  font-family: Gunplay rg, sans-serif;
  font-size: .8rem;
  line-height: 1.7rem;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.dropdown-item {
  text-decoration: none;
}

.content-dogtags {
  color: #e0e0e0;
  text-shadow: 0 3px 4px #555c;
  padding-bottom: 2rem;
  padding-right: 1.6rem;
}

.wooden-background {
  background-image: linear-gradient(#363027e6, #363027e6), url('../images/old-wood.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  margin-top: -4rem;
  margin-bottom: -4rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.text-center {
  text-align: center;
}

.collection-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 4rem;
  display: grid;
}

.list-loader {
  width: 9rem;
}

.list-loader-wrapper {
  display: flex;
}

.text-block {
  display: none;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.7rem;
    line-height: 2.7rem;
  }

  h3 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  h4 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .heading3 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  .heading6 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .heading2 {
    font-size: 2.7rem;
    line-height: 2.7rem;
  }

  .heading4 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .icon-l.kontakt {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }

  .heading5 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .heading1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .palette {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .navbar-links {
    z-index: 1;
    grid-column-gap: .5rem;
    grid-row-gap: 1rem;
    background-color: var(--dark-slate-grey);
    border-radius: .2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    place-items: center start;
    width: 13.5rem;
    padding: 4rem 1.5rem 2rem;
    display: none;
    position: absolute;
    inset: .8rem 0 auto auto;
    box-shadow: 7px 6px 10px #00000080;
  }

  .subscription-wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .navbar-logo {
    width: 26%;
  }

  .navbar-sandwich {
    z-index: 2;
    width: 3rem;
    height: 3rem;
    display: block;
  }

  .content.navbar {
    grid-template-columns: .5fr 1fr;
    padding-top: 1.5rem;
  }

  .content.navbar.floating {
    padding-top: .5rem;
  }

  .content.quote {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .content.heading {
    grid-template-columns: 2rem 1fr 2rem;
  }

  .content.heading.hero {
    min-height: 36rem;
  }

  .content.product-list {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .content.full.om-oss {
    grid-template-columns: 1fr;
  }

  .content.accordition {
    grid-template-columns: 2rem 1fr 2rem;
  }

  .content._1-2 {
    grid-template-columns: .75fr 1fr;
  }

  .content._2-1 {
    grid-template-columns: 1fr .75fr;
  }

  .content.styrelsen {
    grid-template-columns: 1fr 1fr;
  }

  .content.dokument {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .content.dokument-image, .content.garden-image {
    grid-template-columns: 2rem 1fr 2rem;
  }

  .dynamic-item-wrapper {
    padding: .7rem .7rem 1.5rem;
  }

  .navbar-arrow {
    border: .7rem solid #0000;
    border-top-width: 0;
    border-bottom: 1rem solid #444442;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    position: absolute;
    inset: -6% auto auto 85%;
  }

  .accordion-item {
    flex: 1;
  }

  .hide2 {
    display: none;
  }

  .dropdown {
    grid-row-gap: .7rem;
    grid-template-columns: auto 1fr;
    grid-auto-flow: row;
  }

  .dropdown-list {
    margin-bottom: 1rem;
    padding-top: 0;
    position: static;
  }

  .dropdown-item {
    line-height: 2rem;
  }

  .content-dogtags {
    padding-bottom: 1.5rem;
    padding-right: .9rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  h2 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  h5 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  label {
    font-size: .9rem;
    line-height: .9rem;
  }

  .icon-m {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .heading3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .heading6 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .button {
    min-width: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .9rem;
    line-height: 1.2rem;
  }

  .icon-s {
    font-size: 1rem;
    line-height: 1rem;
  }

  .icon-s.solid.arrowbutton {
    width: 2rem;
    height: 2rem;
  }

  .heading2 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  .heading4 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .icon-l {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  .icon-l.kontakt {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }

  .heading5 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .heading1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .navbar-links {
    flex-direction: column;
    grid-auto-columns: 1fr;
    align-items: start;
    width: 100%;
    position: absolute;
    inset: .5rem 0 auto;
  }

  .subscription-wrapper {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: flex-start;
  }

  .navbar-logo {
    width: 35%;
  }

  .footer-header {
    font-size: .9rem;
    line-height: 1.4rem;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .content.navbar {
    padding-top: 1rem;
  }

  .content.navbar.floating {
    padding-left: .5rem;
    padding-right: .5rem;
    left: .5rem;
    right: .5rem;
  }

  .content.heading.full {
    min-height: 35rem;
  }

  .content.heading.video {
    grid-template-columns: 1rem 1fr 1rem;
  }

  .content.heading.hero {
    min-height: 20rem;
  }

  .content.instagram {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content.product-list {
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-bottom: 0;
  }

  .content.blog-list {
    grid-template-columns: 1fr 1fr;
  }

  .content.contact {
    grid-template-columns: 1fr;
  }

  .content.shifted {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .content.accordition {
    grid-template-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .content._1-2, .content._2-1 {
    grid-template-columns: 1fr;
  }

  .content.styrelsen {
    grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .content.dokument {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content.kontakt {
    grid-template-columns: 1fr;
  }

  .content-info {
    padding-bottom: 1rem;
  }

  .content-info.padding {
    padding: 1rem;
  }

  .footer-logo {
    width: 6.8rem;
  }

  .dynamic-item-wrapper.bokningar {
    justify-content: center;
  }

  .navlink {
    border-bottom: .1rem solid #00000014;
    padding-right: 0;
    position: relative;
  }

  .navbar-arrow {
    left: 83%;
  }

  .footerlink {
    margin-bottom: .5rem;
  }

  .accordion-item-content {
    margin-right: 0;
  }

  .hide3 {
    display: none;
  }

  .text-center-4 {
    text-align: center;
  }

  .content-dogtags {
    padding-bottom: .9rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .content-frame {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heading3 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .heading2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .heading4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .heading1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  .error-message {
    padding-right: .5rem;
  }

  .form-wrapper {
    grid-template-columns: 1fr;
  }

  .palette {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .navbar-links {
    grid-column-gap: .25rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    place-items: start;
    width: 100%;
  }

  .navbar-logo {
    width: 50%;
  }

  .navbar-sandwich {
    width: 2.5rem;
    height: 2.5rem;
  }

  .footer-header {
    font-size: .7rem;
    line-height: 1.2rem;
  }

  .content {
    grid-auto-rows: auto;
  }

  .content.footer {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .content.navbar {
    grid-template-columns: 1fr 1fr;
  }

  .content.heading {
    grid-template-columns: 1rem 1fr 1rem;
  }

  .content.heading.full {
    min-height: 50rem;
  }

  .content.heading.video {
    grid-template-rows: auto auto;
    grid-template-columns: 2rem 1fr 2rem;
  }

  .content.heading.hero {
    min-height: 25rem;
  }

  .content.instagram {
    grid-template-columns: 1fr 1fr;
  }

  .content.product-list, .content.blog-list {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }

  .content.shifted {
    grid-template-columns: 2rem 1fr 2rem;
  }

  .content.aktiviteter {
    grid-auto-rows: 1fr;
  }

  .content.bokningar {
    grid-auto-rows: auto;
  }

  .content.styrelsen {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .content.dokument {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  .content.dokument-image, .content.garden-image {
    grid-template-columns: 1rem 1fr 1rem;
  }

  .content.textblock {
    grid-auto-rows: auto;
  }

  .content-info {
    width: 100%;
  }

  .dynamic-item-wrapper {
    padding: .5rem .5rem 1.2rem;
  }

  .dynamic-item-wrapper.aktivitet, .dynamic-item-wrapper.bokningar, .dynamic-item-wrapper.bokningar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-wrapper.aktivitet {
    height: auto;
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .footerlink-block {
    align-items: center;
    width: 100%;
  }

  .hide4 {
    display: none;
  }

  .dropdown-item {
    line-height: 2.5rem;
  }

  .text-center-4 {
    text-align: center;
  }

  .content-dogtags {
    padding-bottom: 1.1rem;
    padding-right: 1.1rem;
  }
}

#w-node-_63ddcd76-633c-f12f-4809-531fa00cb5d2-a00cb5d1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center end;
}

#w-node-_63ddcd76-633c-f12f-4809-531fa00cb5d4-a00cb5d1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_63ddcd76-633c-f12f-4809-531fa00cb5db-a00cb5d1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center start;
}

#w-node-_63ddcd76-633c-f12f-4809-531fa00cb5e2-a00cb5d1, #w-node-_63ddcd76-633c-f12f-4809-531fa00cb5e3-a00cb5d1 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  justify-self: center;
}

#w-node-b78878b2-6391-b8d3-dab7-536838312347-38312347 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-b78878b2-6391-b8d3-dab7-53683831234c-38312347, #w-node-b78878b2-6391-b8d3-dab7-53683831235d-38312347, #w-node-_18e0e27f-8da4-ba58-da7f-705249bad629-49bad628 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_18e0e27f-8da4-ba58-da7f-705249bad62b-49bad628 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_7f84da87-2c4f-3090-a7eb-d02330eb496c-30eb496a {
  place-self: stretch stretch;
}

#w-node-_7f84da87-2c4f-3090-a7eb-d02330eb496e-30eb496a, #w-node-_7f84da87-2c4f-3090-a7eb-d02330eb496f-30eb496a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7f84da87-2c4f-3090-a7eb-d02330eb4971-30eb496a {
  justify-self: center;
}

#w-node-_7f84da87-2c4f-3090-a7eb-d02330eb4976-30eb496a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7f84da87-2c4f-3090-a7eb-d02330eb497d-30eb496a {
  justify-self: center;
}

#w-node-_7f84da87-2c4f-3090-a7eb-d02330eb4982-30eb496a, #w-node-_7f84da87-2c4f-3090-a7eb-d02330eb4989-30eb496a, #w-node-_7f84da87-2c4f-3090-a7eb-d02330eb498b-30eb496a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7f84da87-2c4f-3090-a7eb-d02330eb498f-30eb496a {
  grid-area: 1 / 2 / 2 / 3;
  place-self: center end;
}

#w-node-cc3b7cdf-5042-caf8-7cbc-7cdfaea8e3a6-aea8e389 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-a5ff64b0-d91f-63b6-9224-31ebc52f33f6-c52f33f5, #w-node-a5ff64b0-d91f-63b6-9224-31ebc52f33f8-c52f33f5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a5ff64b0-d91f-63b6-9224-31ebc52f33f9-c52f33f5, #w-node-c29e956b-c0f7-6d24-d53d-0df21ad03e23-900b35c4 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-c29e956b-c0f7-6d24-d53d-0df21ad03e24-900b35c4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c29e956b-c0f7-6d24-d53d-0df21ad03e40-900b35c4, #w-node-c29e956b-c0f7-6d24-d53d-0df21ad03e41-900b35c4 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-de0b2fc4-417c-7050-ba42-89d526a5e31d-900b35c4 {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-a8a66314-c68d-cad2-0145-df7db5dbe043-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe044-900b35c4 {
  place-self: stretch stretch;
}

#w-node-a8a66314-c68d-cad2-0145-df7db5dbe045-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe046-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe047-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe048-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe049-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe04c-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe050-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe051-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe053-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe054-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe055-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe056-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe057-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe058-900b35c4, #w-node-fc714009-6ae0-3479-9d1e-691446f2ea6b-900b35c4, #w-node-_3824c7b9-53a1-888b-be26-b405343061af-900b35c4, #w-node-_71355743-b43c-f0b6-c094-dec6aa1136b1-900b35c4, #w-node-a8a66314-c68d-cad2-0145-df7db5dbe059-900b35c4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_7bb889f6-e41e-0975-f46b-80df906f2daa-550b35c5 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  place-self: center;
}

#w-node-_2f847deb-c23f-b8b7-3abf-80d01473e192-550b35c5 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  align-self: stretch;
}

#w-node-_4113b3f7-883d-8468-52bf-edc24f5f1581-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_64e342a9-f733-779e-76bf-19f2116fd903-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-bd550a0c-f988-98c3-7211-8a5d3b6e2ebf-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-bd550a0c-f988-98c3-7211-8a5d3b6e2ec0-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_63d3f4fd-3bae-cc22-e846-a73ae76529f7-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_63d3f4fd-3bae-cc22-e846-a73ae76529f8-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-d738606b-c01b-4db0-e63b-00ce70f7da45-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-d738606b-c01b-4db0-e63b-00ce70f7da46-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_213af631-2d7a-62cd-d087-11fe17de1698-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_213af631-2d7a-62cd-d087-11fe17de1699-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_53878fff-8b7c-5c28-6f0c-92a24aec2fb0-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_53878fff-8b7c-5c28-6f0c-92a24aec2fb1-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_5452dc92-455b-8a72-67a0-99dda3a9baeb-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_5452dc92-455b-8a72-67a0-99dda3a9baec-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_7456392c-a478-50df-dbd5-6a7de84ea7f5-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_7456392c-a478-50df-dbd5-6a7de84ea7f6-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_9358753e-027a-ad3f-0999-711628bdb19a-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_9358753e-027a-ad3f-0999-711628bdb19b-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_1b2e14a8-250f-32d0-62cb-afe023524750-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_1b2e14a8-250f-32d0-62cb-afe023524751-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_81fea683-d693-94f4-c10e-1af8b138833c-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_81fea683-d693-94f4-c10e-1af8b138833d-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_5c72986b-6e91-92fb-76e6-80c754d78cab-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_5c72986b-6e91-92fb-76e6-80c754d78cac-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_7cf02acc-3e97-15bc-8986-8aa18d8af03c-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_7cf02acc-3e97-15bc-8986-8aa18d8af03d-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-ee56db9e-253c-ea39-6e7d-373122a6a965-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-ee56db9e-253c-ea39-6e7d-373122a6a966-550b35c5 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_03c7a3cd-b22b-3249-fcb6-e22bcdab011e-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5b6-890b35c6 {
  grid-area: 2 / 4 / 4 / 6;
}

#w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5bb-890b35c6 {
  grid-area: 1 / 2 / 3 / 4;
  place-self: center;
}

#w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb829-890b35c6 {
  grid-area: 2 / 2 / 4 / 4;
}

#w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb82e-890b35c6 {
  grid-area: 1 / 4 / 3 / 6;
  place-self: center;
}

#w-node-_74c90d3b-e7b6-af26-671c-6b3f92d532ca-890b35c6, #w-node-_27785695-d0db-7dd6-d50f-7bf67b81743b-890b35c6, #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9210-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_90ea9308-3dce-5432-bb73-59bb4e618335-890b35c6 {
  place-self: stretch stretch;
}

#w-node-_90ea9308-3dce-5432-bb73-59bb4e618337-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_90ea9308-3dce-5432-bb73-59bb4e61834f-890b35c6 {
  grid-area: 1 / 2 / 2 / 3;
  place-self: center end;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e0e-890b35c6, #w-node-_38b1804a-95ba-1841-13b0-720daf099e19-890b35c6, #w-node-_38b1804a-95ba-1841-13b0-720daf099e26-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: start center;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e33-890b35c6 {
  place-self: center;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e35-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e37-890b35c6, #w-node-_38b1804a-95ba-1841-13b0-720daf099e39-890b35c6 {
  place-self: center;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e3b-890b35c6 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  justify-self: center;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e3c-890b35c6 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  place-self: start center;
}

#w-node-_17961ec3-e93c-570f-31cf-b49a986ca620-890b35c6, #w-node-_17961ec3-e93c-570f-31cf-b49a986ca5f2-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: start center;
}

#w-node-_17961ec3-e93c-570f-31cf-b49a986ca61f-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-ce2fc93c-3b48-2dee-3e91-649d33262eac-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-ce2fc93c-3b48-2dee-3e91-649d33262ead-890b35c6 {
  place-self: center;
}

#w-node-ce2fc93c-3b48-2dee-3e91-649d33262eaf-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-ce2fc93c-3b48-2dee-3e91-649d33262eb1-890b35c6, #w-node-ce2fc93c-3b48-2dee-3e91-649d33262eb3-890b35c6 {
  place-self: center;
}

#w-node-_62f07d51-a86b-c5fd-f8d1-de206dfec7f6-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6be47dab-ea80-04b8-52d1-62998c6c3855-890b35c6 {
  grid-area: 1 / 1 / 4 / 4;
}

#w-node-_222bd875-51b8-95b7-2214-c25fa1385712-890b35c6 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_63f37167-017c-701e-917e-453a30c7dced-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_63f37167-017c-701e-917e-453a30c7dcef-890b35c6 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_06946532-1063-fa98-a8c2-b35108c9a921-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_06946532-1063-fa98-a8c2-b35108c9a923-890b35c6 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9221-890b35c6 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  place-self: center stretch;
}

#w-node-_9d413a24-3918-5238-511d-99949ec55fe0-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9d413a24-3918-5238-511d-99949ec55fe1-890b35c6 {
  grid-area: 1 / 1 / 4 / 4;
}

#w-node-_9d413a24-3918-5238-511d-99949ec55fe2-890b35c6 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_04a6a43c-047a-343a-adbb-87e75a4fe3a5-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_04a6a43c-047a-343a-adbb-87e75a4fe3a6-890b35c6 {
  grid-area: 1 / 1 / 4 / 4;
}

#w-node-_04a6a43c-047a-343a-adbb-87e75a4fe3a7-890b35c6 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-fb622c0d-a282-cea6-8d4c-16ac2b8e6514-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-fb622c0d-a282-cea6-8d4c-16ac2b8e6516-890b35c6 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-edce57e4-cfaf-5916-f7d0-27d6eb7442b6-890b35c6 {
  grid-area: 1 / 1 / 2 / 4;
  place-self: stretch stretch;
}

#w-node-_9219989e-4821-7987-79b9-fb5e5e7efe7e-890b35c6 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-e66bf86d-74ee-f505-e05c-aa73c70e51af-890b35c6 {
  grid-area: 1 / 1 / 4 / 4;
  place-self: stretch stretch;
}

#w-node-dd2acfce-c357-a183-2a43-cff699e78aa3-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e66bf86d-74ee-f505-e05c-aa73c70e51b0-890b35c6 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f92ec-890b35c6 {
  grid-area: span 1 / span 6 / span 1 / span 6;
  place-self: stretch stretch;
}

#w-node-_49852f7f-9875-8eea-b882-2705877229f1-890b35c6, #w-node-_036b703c-3896-2e49-d33f-ac7caab79069-890b35c6, #w-node-cbdf8af3-c567-3d70-5018-e3b6c2b03a04-890b35c6, #w-node-f9f5d891-0fe4-014d-5b03-ea148330d6c7-890b35c6, #w-node-eaa26c29-3ba6-edca-376d-577689142cf0-890b35c6, #w-node-_3c597adc-f453-ec92-47e4-e1b31f9ab4fd-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9300-890b35c6 {
  place-self: center stretch;
}

#w-node-_0633c5f5-acf0-be07-7805-4fb2e4ff7627-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#email.w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9303-890b35c6, #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9304-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_940e66d4-4cb4-0962-ca0c-10f42dd7389f-890b35c6 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_30b016fb-3eaa-a5cc-a3a4-8df0ea722063-890b35c6 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_5ca966a2-27c3-5d97-2659-cb147dc24868-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7f1735a9-644f-8df2-13d3-928d9cffede1-890b35c6, #w-node-_30b016fb-3eaa-a5cc-a3a4-8df0ea722082-890b35c6 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_6fa08eeb-4192-ef23-aa73-19ad4c75033a-890b35c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6fa08eeb-4192-ef23-aa73-19ad4c75033b-890b35c6 {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: stretch;
}

#w-node-d06472a5-b44e-6c5d-921f-f6b7ad35bc92-b7b28648, #w-node-beb06799-81ee-0a09-546a-d675fc5992cd-b7b28648 {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-_08f54c78-75f7-615e-ad9a-1499d52f5579-b7b28648, #w-node-a3407dac-1eda-6988-ec68-72b874cb0f6d-b7b28648, #w-node-_799b1fb6-209a-4a18-4238-0716e1ebc257-b7b28648, #w-node-b0b17f6a-f7e5-ec3f-2db9-a9e836eec01f-b7b28648, #w-node-_45802d5d-21a3-48bb-afe0-40e720b184f5-b7b28648, #w-node-_8cbe142a-bc8e-e493-4d02-87d43e2ebc40-b7b28648 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8cbe142a-bc8e-e493-4d02-87d43e2ebc41-b7b28648 {
  grid-area: 1 / 1 / 4 / 4;
}

#w-node-_3b7e4a09-b809-f804-83b3-12b2233b4227-41c07bba, #w-node-_462ffb48-8051-ecd0-f3bc-27906efb3be8-41c07bba {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_7c3586e7-1125-986e-e598-ceea64e1a3ef-41c07bba {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7c3586e7-1125-986e-e598-ceea64e1a3f0-41c07bba {
  grid-area: 1 / 1 / 4 / 4;
}

#w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de458-4bced116 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de452-4bced116 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de457-4bced116 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de46a-4bced116, #w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de474-4bced116, #w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de475-4bced116 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_10b72334-19c4-d728-d6da-f806bfd49816-c33687f6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_209f3543-0796-3f1e-6ea6-fd3ad1f0158d-c33687f6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_45f0676b-0cee-5f99-c399-5a53f188a219-c33687f6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_234ce426-c468-6776-965e-00f128fe6a89-c33687f6 {
  justify-self: center;
}

#w-node-_45f0676b-0cee-5f99-c399-5a53f188a21c-c33687f6 {
  justify-self: start;
}

#w-node-bbca8367-67f7-6769-631f-66a55cb31fa5-c33687f6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-bbca8367-67f7-6769-631f-66a55cb31fa6-c33687f6 {
  justify-self: center;
}

#w-node-bbca8367-67f7-6769-631f-66a55cb31fa8-c33687f6 {
  justify-self: start;
}

#w-node-bd41d162-3c63-5e7e-39c5-9ed44cd8ad38-c33687f6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-bd41d162-3c63-5e7e-39c5-9ed44cd8ad39-c33687f6 {
  justify-self: center;
}

#w-node-bd41d162-3c63-5e7e-39c5-9ed44cd8ad3b-c33687f6 {
  justify-self: start;
}

#w-node-_10b72334-19c4-d728-d6da-f806bfd49815-c33687f6 {
  place-self: center stretch;
}

#email.w-node-_10b72334-19c4-d728-d6da-f806bfd49819-c33687f6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_10b72334-19c4-d728-d6da-f806bfd4981a-c33687f6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_8e10de60-4dbc-6e86-5e12-31a86d65017f-6d65017d, #w-node-_0c0274ec-d7c0-4643-743f-eb87cae45d87-cae45d84, #w-node-_0c0274ec-d7c0-4643-743f-eb87cae45d98-cae45d84 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_63ddcd76-633c-f12f-4809-531fa00cb5d2-a00cb5d1 {
    justify-self: center;
  }

  #w-node-_7f84da87-2c4f-3090-a7eb-d02330eb4971-30eb496a {
    justify-self: auto;
  }

  #w-node-_7f84da87-2c4f-3090-a7eb-d02330eb4976-30eb496a {
    grid-column: span 2 / span 2;
  }

  #w-node-_7f84da87-2c4f-3090-a7eb-d02330eb497d-30eb496a {
    justify-self: auto;
  }

  #w-node-_7f84da87-2c4f-3090-a7eb-d02330eb4982-30eb496a {
    grid-column: span 2 / span 2;
  }

  #w-node-de0b2fc4-417c-7050-ba42-89d526a5e31d-900b35c4 {
    grid-column: span 4 / span 4;
  }

  #w-node-_7bb889f6-e41e-0975-f46b-80df906f2daa-550b35c5, #w-node-_2f847deb-c23f-b8b7-3abf-80d01473e192-550b35c5 {
    grid-column: span 2 / span 2;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5b6-890b35c6 {
    grid-area: 2 / 4 / 4 / 7;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5bb-890b35c6 {
    grid-area: 1 / 1 / 3 / 4;
    place-self: center;
  }

  #w-node-_74c90d3b-e7b6-af26-671c-6b3f92d532ca-890b35c6, #w-node-_27785695-d0db-7dd6-d50f-7bf67b81743b-890b35c6 {
    place-self: stretch stretch;
  }

  #w-node-_90ea9308-3dce-5432-bb73-59bb4e618338-890b35c6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_38b1804a-95ba-1841-13b0-720daf099e3c-890b35c6, #w-node-_17961ec3-e93c-570f-31cf-b49a986ca620-890b35c6 {
    justify-self: center;
  }

  #w-node-e66bf86d-74ee-f505-e05c-aa73c70e51af-890b35c6 {
    grid-row-end: 2;
  }

  #w-node-e66bf86d-74ee-f505-e05c-aa73c70e51b0-890b35c6 {
    grid-row: 1 / 2;
  }

  #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9304-890b35c6 {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
  }

  #w-node-d06472a5-b44e-6c5d-921f-f6b7ad35bc92-b7b28648, #w-node-beb06799-81ee-0a09-546a-d675fc5992cd-b7b28648 {
    grid-column: span 4 / span 4;
  }

  #w-node-_3b7e4a09-b809-f804-83b3-12b2233b4227-41c07bba {
    grid-column: span 2 / span 2;
    place-self: stretch stretch;
  }

  #w-node-_3b7e4a09-b809-f804-83b3-12b2233b4228-41c07bba, #w-node-_462ffb48-8051-ecd0-f3bc-27906efb3be3-41c07bba {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_462ffb48-8051-ecd0-f3bc-27906efb3be8-41c07bba {
    grid-area: 1 / 1 / 2 / 3;
    place-self: stretch stretch;
  }

  #w-node-_45f0676b-0cee-5f99-c399-5a53f188a219-c33687f6, #w-node-bbca8367-67f7-6769-631f-66a55cb31fa5-c33687f6, #w-node-bd41d162-3c63-5e7e-39c5-9ed44cd8ad38-c33687f6 {
    justify-self: center;
  }

  #w-node-_10b72334-19c4-d728-d6da-f806bfd4981a-c33687f6 {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
  }
}

@media screen and (max-width: 767px) {
  #w-node-b78878b2-6391-b8d3-dab7-536838312347-38312347 {
    grid-column: span 1 / span 1;
  }

  #w-node-_7f84da87-2c4f-3090-a7eb-d02330eb498f-30eb496a {
    place-self: center end;
  }

  #w-node-cc3b7cdf-5042-caf8-7cbc-7cdfaea8e38b-aea8e389 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-de0b2fc4-417c-7050-ba42-89d526a5e31d-900b35c4 {
    grid-column: span 4 / span 4;
  }

  #w-node-_7bb889f6-e41e-0975-f46b-80df906f2daa-550b35c5 {
    align-self: center;
  }

  #w-node-_03c7a3cd-b22b-3249-fcb6-e22bcdab0117-890b35c6 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5b6-890b35c6 {
    grid-area: 2 / 3 / 4 / 5;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5bb-890b35c6 {
    grid-area: 1 / 1 / 3 / 3;
    place-self: center;
  }

  #w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb829-890b35c6 {
    grid-area: 2 / 1 / 4 / 3;
  }

  #w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb82e-890b35c6 {
    grid-area: 1 / 3 / 3 / 5;
    place-self: center;
  }

  #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9209-890b35c6 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_90ea9308-3dce-5432-bb73-59bb4e61834f-890b35c6 {
    place-self: center end;
  }

  #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f92ec-890b35c6 {
    grid-area: 1 / 1 / 2 / 4;
    place-self: auto;
  }

  #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9304-890b35c6 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_940e66d4-4cb4-0962-ca0c-10f42dd7389f-890b35c6, #w-node-_30b016fb-3eaa-a5cc-a3a4-8df0ea722063-890b35c6, #w-node-_6fa08eeb-4192-ef23-aa73-19ad4c75033b-890b35c6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-d06472a5-b44e-6c5d-921f-f6b7ad35bc92-b7b28648, #w-node-beb06799-81ee-0a09-546a-d675fc5992cd-b7b28648 {
    grid-column: span 3 / span 3;
  }

  #w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de452-4bced116, #w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de457-4bced116, #w-node-_209f3543-0796-3f1e-6ea6-fd3ad1f01588-c33687f6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_45f0676b-0cee-5f99-c399-5a53f188a219-c33687f6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: center;
  }

  #w-node-_234ce426-c468-6776-965e-00f128fe6a89-c33687f6 {
    justify-self: center;
  }

  #w-node-bbca8367-67f7-6769-631f-66a55cb31fa5-c33687f6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: center;
  }

  #w-node-bbca8367-67f7-6769-631f-66a55cb31fa6-c33687f6 {
    justify-self: center;
  }

  #w-node-bd41d162-3c63-5e7e-39c5-9ed44cd8ad38-c33687f6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: center;
  }

  #w-node-bd41d162-3c63-5e7e-39c5-9ed44cd8ad39-c33687f6 {
    justify-self: center;
  }

  #w-node-_10b72334-19c4-d728-d6da-f806bfd4981a-c33687f6 {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_63ddcd76-633c-f12f-4809-531fa00cb5d2-a00cb5d1 {
    grid-column: span 1 / span 1;
    place-self: start center;
  }

  #w-node-_63ddcd76-633c-f12f-4809-531fa00cb5d4-a00cb5d1 {
    justify-self: stretch;
  }

  #w-node-_63ddcd76-633c-f12f-4809-531fa00cb5db-a00cb5d1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: stretch;
  }

  #w-node-_63ddcd76-633c-f12f-4809-531fa00cb5e2-a00cb5d1, #w-node-_63ddcd76-633c-f12f-4809-531fa00cb5e3-a00cb5d1 {
    grid-column: span 1 / span 1;
  }

  #w-node-b78878b2-6391-b8d3-dab7-536838312349-38312347 {
    justify-self: center;
  }

  #w-node-_18e0e27f-8da4-ba58-da7f-705249bad62b-49bad628 {
    grid-area: 2 / 1 / 3 / 4;
  }

  #w-node-_7f84da87-2c4f-3090-a7eb-d02330eb496f-30eb496a {
    grid-column: span 1 / span 1;
  }

  #w-node-a5ff64b0-d91f-63b6-9224-31ebc52f33f9-c52f33f5 {
    grid-area: 2 / 1 / 3 / 4;
  }

  #w-node-c29e956b-c0f7-6d24-d53d-0df21ad03e41-900b35c4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-de0b2fc4-417c-7050-ba42-89d526a5e31d-900b35c4 {
    grid-column: span 2 / span 2;
  }

  #w-node-_7bb889f6-e41e-0975-f46b-80df906f2daa-550b35c5 {
    grid-column: span 1 / span 1;
    justify-self: center;
  }

  #w-node-_2f847deb-c23f-b8b7-3abf-80d01473e192-550b35c5 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: stretch;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5b6-890b35c6 {
    grid-area: 2 / 2 / 3 / 4;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5bb-890b35c6 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: center;
  }

  #w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb829-890b35c6 {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb82e-890b35c6 {
    grid-area: 1 / 2 / 2 / 4;
    place-self: center;
  }

  #w-node-_38b1804a-95ba-1841-13b0-720daf099e0e-890b35c6, #w-node-_38b1804a-95ba-1841-13b0-720daf099e19-890b35c6 {
    justify-self: stretch;
  }

  #w-node-_38b1804a-95ba-1841-13b0-720daf099e26-890b35c6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: stretch;
  }

  #w-node-_38b1804a-95ba-1841-13b0-720daf099e3b-890b35c6 {
    grid-column: span 1 / span 1;
  }

  #w-node-_38b1804a-95ba-1841-13b0-720daf099e3c-890b35c6, #w-node-_17961ec3-e93c-570f-31cf-b49a986ca620-890b35c6 {
    grid-column: span 1 / span 1;
    place-self: start center;
  }

  #w-node-_17961ec3-e93c-570f-31cf-b49a986ca5f2-890b35c6 {
    justify-self: stretch;
  }

  #w-node-_17961ec3-e93c-570f-31cf-b49a986ca61f-890b35c6 {
    grid-column: span 1 / span 1;
  }

  #w-node-_222bd875-51b8-95b7-2214-c25fa1385712-890b35c6, #w-node-_63f37167-017c-701e-917e-453a30c7dcef-890b35c6 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-_06946532-1063-fa98-a8c2-b35108c9a923-890b35c6 {
    grid-area: 2 / 1 / 3 / 4;
  }

  #w-node-_9d413a24-3918-5238-511d-99949ec55fe2-890b35c6 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_04a6a43c-047a-343a-adbb-87e75a4fe3a7-890b35c6, #w-node-fb622c0d-a282-cea6-8d4c-16ac2b8e6516-890b35c6 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-edce57e4-cfaf-5916-f7d0-27d6eb7442b6-890b35c6, #w-node-_9219989e-4821-7987-79b9-fb5e5e7efe7e-890b35c6, #w-node-e66bf86d-74ee-f505-e05c-aa73c70e51af-890b35c6, #w-node-e66bf86d-74ee-f505-e05c-aa73c70e51b0-890b35c6 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f92ec-890b35c6 {
    grid-area: 1 / 1 / 2 / 3;
    place-self: auto;
  }

  #w-node-_7f1735a9-644f-8df2-13d3-928d9cffede1-890b35c6 {
    grid-column: span 1 / span 1;
  }

  #w-node-_30b016fb-3eaa-a5cc-a3a4-8df0ea722082-890b35c6 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-d06472a5-b44e-6c5d-921f-f6b7ad35bc92-b7b28648 {
    grid-column: span 2 / span 2;
    justify-self: center;
  }

  #w-node-beb06799-81ee-0a09-546a-d675fc5992cd-b7b28648 {
    grid-column: span 2 / span 2;
  }

  #w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de46a-4bced116, #w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de474-4bced116 {
    grid-column: span 1 / span 1;
  }

  #w-node-fa9ebcf2-0307-ce1d-71ef-be0f774de475-4bced116 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gunplay rg';
  src: url('../fonts/gunplay-rg.ttf') format('truetype'), url('../fonts/gunplay-rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}