@font-face {
  font-family: 'Gunplay';
  src: url('../fonts/gunplay-rg.otf') format('opentype'),
  url('../fonts/gunplay-rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}